<style>

header {
    background-color:tomato;
    color:white;
     text-align: center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:rgba(225,99,71,0.5);
    height:900px;
    width:200px;
    float:left;
    padding:5px; 
}
aside {
       float: left;
	width: 420px;
	min-height: 480px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: justify;
}
footer {
    background-color:tomato;
    clear:both;
	width:890px;
	height: 100px;
    text-align: center;
}

#intro {   
   width:200px;
   height:200px
}


#footer-image {
    
   height: 100px;
    width=100px;
}
</style>